Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

impl: new data model for track_namespace_manager
  moqt-core/src/modules/subscription_models/subscription_nodes.rs
  moqt-core/src/modules/subscription_models/subscriptions.rs
  moqt-core/src/modules/subscription_models/tracks.rs
  moqt-core/src/modules/track_namespace_manager_repository.rs
  moqt-server/src/modules/track_namespace_manager.rs
Due: moqt-core, moqt-server

impl: update behavior arround track_namespace_manager
  moqt-core/src/modules.rs
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/subscription_models.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/server_setup_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/handlers/unannounce_handler.rs
  moqt-server/src/modules/server_processes/client_setup_message.rs
  moqt-server/src/modules/server_processes/subscribe_message.rs
  moqt-server/src/modules/server_processes/subscribe_ok_message.rs
Due: moqt-core, moqt-server

impl: subscribe_ok
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
Due: moqt-core, moqt-server

impl: tests
  moqt-server/src/modules/track_namespace_manager.rs
Due: moqt-server

impl: unit test
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/subscription_models/subscription_nodes.rs
  moqt-core/src/modules/track_namespace_manager_repository.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/server_processes/subscribe_message.rs
  moqt-server/src/modules/track_namespace_manager.rs
Due: moqt-core, moqt-server

refactor: function name
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/track_namespace_manager.rs
Due: moqt-server

refactor: comment fix
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
Due: moqt-core

refactor: file structure
  moqt-core/src/lib.rs
  moqt-core/src/modules.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-core/src/modules/subscription_models.rs
  moqt-core/src/modules/subscription_models/consumer_node.rs
  moqt-core/src/modules/subscription_models/node_registory.rs
  moqt-core/src/modules/subscription_models/producer_node.rs
  moqt-core/src/modules/subscription_models/subscription_nodes.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/server_setup_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/handlers/unannounce_handler.rs
  moqt-server/src/modules/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/relation_manager.rs
  moqt-server/src/modules/relation_manager/commands.rs
  moqt-server/src/modules/relation_manager/interface.rs
  moqt-server/src/modules/relation_manager/manager.rs
  moqt-server/src/modules/relation_manager/relation.rs
  moqt-server/src/modules/server_processes/announce_message.rs
  moqt-server/src/modules/server_processes/client_setup_message.rs
  moqt-server/src/modules/server_processes/subscribe_message.rs
  moqt-server/src/modules/server_processes/subscribe_ok_message.rs
Due: moqt-core, moqt-server

refactor: rename track command
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/server_setup_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/relation_manager/commands.rs
  moqt-server/src/modules/relation_manager/interface.rs
  moqt-server/src/modules/relation_manager/manager.rs
Due: moqt-server

refactor: fix format
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/server_setup_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/relation_manager/interface.rs
Due: moqt-server

impl: add test
  moqt-core/src/modules/subscription_models/consumer_node.rs
  moqt-core/src/modules/subscription_models/producer_node.rs
Due: moqt-core

impl: add subscription/track tests
  moqt-core/src/modules/subscription_models/consumer_node.rs
  moqt-core/src/modules/subscription_models/producer_node.rs
  moqt-core/src/modules/subscription_models/subscriptions.rs
  moqt-core/src/modules/subscription_models/tracks.rs
Due: moqt-core

refactor: refine folder structure
  moqt-core/src/modules/subscription_models.rs
  moqt-core/src/modules/subscription_models/nodes.rs
  moqt-core/src/modules/subscription_models/nodes/consumer_node.rs
  moqt-core/src/modules/subscription_models/nodes/node_registory.rs
  moqt-core/src/modules/subscription_models/nodes/producer_node.rs
  moqt-server/src/modules/relation_manager/interface.rs
  moqt-server/src/modules/relation_manager/manager.rs
Due: moqt-core, moqt-server

refactor: rename relation_manager folder
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/server_setup_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/pubsub_relation_manager.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/interface.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/relation.rs
Due: moqt-server

Packetize Payload Type as x(b)
  moqt-client-sample/src/lib.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
Due: moqt-server

delete unnecessary function
  moqt-server/src/modules/control_message_handler.rs
Due: moqt-server

impl: manage ids on client
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/subscription_models/subscriptions.rs
Due: moqt-core

impl: support client role pubsub
  moqt-server/src/modules/handlers/server_setup_handler.rs
Due: moqt-server

refactor: rename variable
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
Due: moqt-server

impl: add test
  moqt-core/src/modules/subscription_models/subscriptions.rs
Due: moqt-core

Path conditions:
  moqt-core: any of: moqt-core/
  moqt-server: any of: moqt-server/
