Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

codecov.yml:

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

github_checks:
  annotations: false

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 10%
    patch:
      default:
        target: 70%
        threshold: 10%

component_management:
  individual_components:
    - component_id: core
      name: moqt-core
      paths:
        - moqt-core/
      statuses:
        - type: project
          target: 80%
          threshold: 5%
        - type: patch
          target: 80%
    - component_id: server
      name: moqt-server
      paths:
        - moqt-server/
      statuses:
        - type: project
          target: 50%
          threshold: 10%
        - type: patch
          target: 60%

refactor: rename object process results
  moqt-server/src/modules/message_handlers.rs
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/message_handlers/stream_object.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
Due: moqt-server

refactor: rename object receiver and forwarder
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

Rename class related to object message to improve readability (#162)
  README.md
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
  moqt-core/src/modules/messages/data_streams/track_stream.rs
  moqt-server/src/modules/message_handlers.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/message_handlers/stream_object.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

refactor: separate and rename validation functions
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

refactor: separate and rename validation functions (#163)
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

fix: support multiple subgroup stream
  moqt-server/src/modules/object_cache_storage.rs
Due: moqt-server

fix: spawn thread per subgroup stream
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

fix: create stream per subgroup
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
Due: none

check subgroup support
  README.md
Due: none

refactor: separate files
  moqt-client-sample/src/lib.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_message.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_cache_storage/cache.rs
  moqt-server/src/modules/object_cache_storage/cache/datagram.rs
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
  moqt-server/src/modules/object_cache_storage/cache/track_stream.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/server_processes/control_stream/handler.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/senders.rs
  moqt-server/src/modules/server_processes/session_handler.rs
Due: moqt-server

fix: start forwarders for current group if contents exists
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
Due: moqt-server

Fix: Support multiple subgroup streams (#164)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_message.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_cache_storage/cache.rs
  moqt-server/src/modules/object_cache_storage/cache/datagram.rs
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
  moqt-server/src/modules/object_cache_storage/cache/track_stream.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/server_processes/control_stream/handler.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/senders.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: rename senders from open_subscription to start_forwarder
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_message.rs
  moqt-server/src/modules/server_processes/control_stream/handler.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/senders.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: rename senders from open_subscription to start_forwarder (#165)
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_message.rs
  moqt-server/src/modules/server_processes/control_stream/handler.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/senders.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

fix: ui bug of test app
  js/index.html
  js/main.js
Due: none

fix: ui bug of test app (#166)
  js/index.html
  js/main.js
Due: none

refactor: unify function name to start receiver
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: unify function name to start receiver (#167)
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

impl: rename subscribe_namespace to subscribe_announces
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/control_message_type.rs
  moqt-core/src/modules/messages/control_messages.rs
  moqt-core/src/modules/messages/control_messages/subscribe_announces.rs
  moqt-core/src/modules/messages/control_messages/subscribe_announces_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_announces_ok.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_announces_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_announces_message.rs
  moqt-server/src/modules/server_processes/control_stream/sender.rs
Due: moqt-core, moqt-server

fix: unify receiver arguments
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

fix: unify receiver arguments (#169)
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

use cargo features for web_sys_unstable_apis
  .vscode/settings.json
  js/package.json
  moqt-client-sample/.cargo/config.toml
  moqt-client-sample/Cargo.toml
  moqt-client-sample/src/lib.rs
Due: none

Add RUSTFLAGS to tarpaulin
  .github/workflows/lint.yml
  moqt-client-sample/src/lib.rs
Due: none

add items related to fetch
  README.md
Due: none

impl: add message types related to fetch
  moqt-core/src/modules/control_message_type.rs
Due: moqt-core

implement unsubscribe_handler
  .vscode/launch.json
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/send_stream_dispatcher.rs
  moqt-server/src/modules/server_processes/control_stream/sender.rs
Due: moqt-server

Add get_tx test
  moqt-server/src/modules/send_stream_dispatcher.rs
Due: moqt-server

Add allow(dead_code)
  moqt-server/src/modules/send_stream_dispatcher.rs
Due: moqt-server
