Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

codecov.yml:

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 10%
    patch:
      default:
        target: 80%
        threshold: 10%

component_management:
  individual_components:
    - component_id: core
      name: moqt-core
      paths:
        - moqt-core/
      statuses:
        - type: project
          target: 90%
          threshold: 5%
        - type: patch
          target: 90%
    - component_id: server
      name: moqt-server
      paths:
        - moqt-server/
      statuses:
        - type: project
          target: 60%
          threshold: 5%
        - type: patch
          target: 80%

refactor: variable name and behavior
  moqt-core/src/modules.rs
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/models.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-core/src/modules/subscription_models/nodes.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/server_setup_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/handlers/unannounce_handler.rs
  moqt-server/src/modules/pubsub_relation_manager.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/relation.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

fix: conflict
  moqt-core/src/modules/models/subscriptions.rs
Due: moqt-core

impl: common stream starter
  moqt-core/src/modules.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-server/src/lib.rs
Due: moqt-core, moqt-server

refactor: rename sender/receiver
  moqt-server/src/lib.rs
Due: moqt-server

fix: conflict
  moqt-server/src/modules/control_message_handler.rs
Due: moqt-server

impl: stream header track handler fn
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/stream_track_header.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-server

web_sysのverup
  Cargo.lock
  moqt-client-sample/Cargo.toml
Due: none

clientのdatagram送信機能の実装
  js/index.html
  js/main.js
  moqt-client-sample/.vscode/settings.json
  moqt-client-sample/src/lib.rs
  moqt-server/src/lib.rs
Due: moqt-server

feat: object cache and track relay
  Cargo.lock
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/relation.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/stream_track_header.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-core, moqt-server

impl: send track stream
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/server_processes/stream_track_header.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-core, moqt-server

write catalog_sequence
  sequences/CATALOG_SEQUENCE.md
  sequences/SEQUENCE.md
Due: none

impl catalog
  Cargo.lock
  moqt-client-sample/Cargo.toml
  moqt-core/Cargo.toml
  moqt-core/src/modules.rs
  moqt-core/src/modules/catalogs.rs
  moqt-core/src/modules/catalogs/common_catalog.rs
  moqt-core/src/modules/catalogs/patch.rs
  moqt-core/src/modules/packagers/loc.rs
Due: moqt-core

implement Catalog Patch
  moqt-core/src/modules/catalogs.rs
  moqt-core/src/modules/catalogs/common_catalog.rs
  moqt-core/src/modules/catalogs/patch.rs
Due: moqt-core

delete macro_use
  moqt-core/src/modules/catalogs/common_catalog.rs
Due: moqt-core

using serde_json
  moqt-core/src/modules/catalogs/common_catalog.rs
Due: moqt-core

update catalog_sequence
  sequences/CATALOG_SEQUENCE.md
Due: none

modify moqt-client-sample along with moqt-core
  moqt-client-sample/src/lib.rs
Due: none

delete: unnecessary test
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
Due: moqt-core

refactor: detect short error
  moqt-core/src/modules/variable_bytes.rs
Due: moqt-core

fix: add receive buf thread
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/server_processes/stream_track_header.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-core, moqt-server

fix: add receive buf thread
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
Due: moqt-server

fix: add receive buf thread
  moqt-client-sample/src/lib.rs
Due: none

delete: unnecessary log
  moqt-server/src/modules/object_stream_handler.rs
Due: moqt-server

impl: update version to 06
  README.md
  moqt-core/src/modules/constants.rs
Due: moqt-core

impl: update version to 06
  README.md
Due: none

Revert "impl: update version to 06"
  README.md
Due: none

Revert "impl: update version to 06"
  README.md
  moqt-core/src/modules/constants.rs
Due: moqt-core

impl: update version to 06
  README.md
  moqt-core/src/modules/constants.rs
  moqt-core/src/modules/messages/control_messages/client_setup.rs
  moqt-core/src/modules/messages/control_messages/server_setup.rs
  moqt-server/src/modules/control_message_handler.rs
Due: moqt-core, moqt-server

fix: mark ANNOUNCE_ERROR
  README.md
Due: none

fix: wrong variable name
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
Due: moqt-server
