Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

feat: delete definition of track stream object
  moqt-core/src/modules/data_stream_type.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/track_stream.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/tracks.rs
Due: moqt-core

feat: delete relay feature of track stream object
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/message_handlers/stream_object.rs
  moqt-server/src/modules/object_cache_storage/cache.rs
  moqt-server/src/modules/object_cache_storage/cache/track_stream.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

feat: delete send/recv features of track stream object
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
Due: none

chore: delete item for Track Stream
  README.md
Due: none

chore: update stream object handlers to exclusively process subgroup
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/message_handlers/stream_object.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

chore: rename function for clarity
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
Due: moqt-server

chore: remove unnecessary args
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
Due: moqt-server

chore: remane files and directory for subgroup stream object handler
  moqt-server/src/modules/message_handlers.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_header.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_object.rs
  moqt-server/src/modules/server_processes/data_streams.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/uni_stream.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

chore: simplify variables name and mutablity
  js/index.html
  js/main.js
Due: none

refactor: format arrangement
  moqt-core/src/modules/messages/control_messages.rs
  moqt-server/src/modules/message_handlers/control_message/handlers.rs
  moqt-server/src/modules/server_processes/control_stream/sender.rs
Due: moqt-core, moqt-server

Merge branch 'draft-08' of github.com:nttcom/moq-wasm into impl/delete-track-stream
  .github/workflows/lint.yml
  .vscode/launch.json
  .vscode/settings.json
  js/index.html
  js/main.js
  js/package.json
  moqt-client-sample/.cargo/config.toml
  moqt-client-sample/Cargo.toml
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/unsubscribe.rs
  moqt-server/src/modules/buffer_manager.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/unsubscribe_message.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/send_stream_dispatcher.rs
  moqt-server/src/modules/server_processes/control_stream/sender.rs
Due: moqt-core, moqt-server

feat: remove subscribe id from object format
  moqt-core/src/modules/messages/data_streams/datagram.rs
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
Due: moqt-core

feat: handle object without subscribe id
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-core, moqt-server

feat: send object without subscribe id
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
Due: none

chore: add TODO comments to improve pubsub relation manager
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
Due: moqt-core, moqt-server

Delete Subscribe ID from Object format (#174)
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams/datagram.rs
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-core, moqt-server

Delete features about Track Stream (#173)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/datagram.rs
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
  moqt-core/src/modules/messages/data_streams/track_stream.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/message_handlers/stream_object.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_header.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_object.rs
  moqt-server/src/modules/object_cache_storage/cache.rs
  moqt-server/src/modules/object_cache_storage/cache/track_stream.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/uni_stream.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

Add message types related to FETCH (#172)
  README.md
  moqt-core/src/modules/control_message_type.rs
Due: moqt-core

Rename SUBSCRIBE_NAMESPACE to SUBSCRIBE_ANNOUNCES (#168)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/control_message_type.rs
  moqt-core/src/modules/messages/control_messages.rs
  moqt-core/src/modules/messages/control_messages/subscribe_announces.rs
  moqt-core/src/modules/messages/control_messages/subscribe_announces_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_announces_ok.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_announces_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_announces_message.rs
  moqt-server/src/modules/server_processes/control_stream/sender.rs
Due: moqt-core, moqt-server

feat: add FETCH_HEADER type
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

feat: add FETCH_HEADER type (#175)
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

create exmples directory
  js/examples/media/index.html
  js/examples/media/main.js
  js/examples/message/index.html
  js/examples/message/main.js
  js/index.html
Due: none

implement send moqt message
  js/examples/media/index.html
  js/examples/media/main.js
  js/examples/media/publisher/index.html
  js/examples/media/publisher/main.js
  js/examples/media/publisher/media.ts
  js/examples/media/subscriber/index.html
  js/examples/media/subscriber/main.js
  js/examples/message/index.html
  js/examples/message/main.js
  moqt-core/src/modules/constants.rs
Due: moqt-core

rewrite in typescript
  js/examples/media/publisher/index.html
  js/examples/media/publisher/main.ts
  js/examples/media/publisher/media.ts
  js/examples/media/subscriber/main.ts
  js/vite.config.js
Due: none

modify html
  js/examples/media/subscriber/index.html
  js/examples/media/subscriber/main.js
Due: none

Add WebCodecs definition package
  js/package-lock.json
  js/package.json
  js/tsconfig.json
Due: none

Add type definitions
  js/examples/media/publisher/main.ts
  js/examples/media/subscriber/main.ts
Due: none

Implement encoder
  js/examples/media/publisher/index.html
  js/examples/media/publisher/main.ts
  js/examples/media/publisher/media.ts
  js/examples/media/publisher/videoEncoder.ts
Due: none

Modify test
  moqt-core/src/modules/messages/control_messages/client_setup.rs
Due: moqt-core

Path conditions:
  moqt-core: any of: moqt-core/
  moqt-server: any of: moqt-server/
