Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

codecov.yml:

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 10%
    patch:
      default:
        target: 80%
        threshold: 10%

component_management:
  individual_components:
    - component_id: core
      name: moqt-core
      paths:
        - moqt-core/
      statuses:
        - type: project
          target: 90%
          threshold: 5%
        - type: patch
          target: 90%
    - component_id: server
      name: moqt-server
      paths:
        - moqt-server/
      statuses:
        - type: project
          target: 60%
          threshold: 5%
        - type: patch
          target: 80%

enable rust-analyzer for cfg
  .vscode/settings.json
  moqt-client-sample/.cargo/config.toml
  moqt-client-sample/Cargo.toml
Due: none

delete unnecessary settings
  moqt-client-sample/.vscode/settings.json
Due: none

Enable cfg in CI build
  moqt-client-sample/Cargo.toml
  moqt-client-sample/src/lib.rs
Due: none

refactor: uni stream forwarder
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/streams.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

refactor: uni stream receiver termination
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

feat: judge stream end
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/object_stream.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/message_handlers/stream_header/handlers/stream_subgroup_header_handler.rs
  moqt-server/src/modules/message_handlers/stream_header/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/message_handlers/stream_header/server_processes/stream_track_header.rs
  moqt-server/src/modules/message_handlers/stream_header/server_processes/stream_track_subgroup.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

fix: not to close session with normal case
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/forwarder.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

added tracing
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

separate fn in uni stream receiver (#135)
  moqt-core/src/modules/data_stream_type.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/object_stream.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/receiver.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/streams.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

impl: datagram send/recv
  js/index.html
  js/main.js
  moqt-client-sample/Cargo.toml
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
Due: moqt-core

impl: datagram relay
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers.rs
  moqt-server/src/modules/message_handlers/object_datagram.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/stream_and_datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

marked datagram
  README.md
Due: none

fix: struct & variable name
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

Separate moqt-server/lib.rs (#134)
  moqt-core/src/modules/data_stream_type.rs
  moqt-server-sample/src/main.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/server_setup_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_message.rs
  moqt-server/src/modules/message_handlers/object_stream.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/moqt_client.rs
  moqt-server/src/modules/moqt_config.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/senders.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/stream_and_datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream/receiver.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream/stream.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/receiver.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/streams.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

implement subscribe_done
  moqt-core/src/modules/messages/control_messages/subscribe_done.rs
Due: moqt-core

Datagram forward for server (#142)
  README.md
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers.rs
  moqt-server/src/modules/message_handlers/object_datagram.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/stream_and_datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

Dagagram send/recv for client (#141)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/Cargo.toml
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers.rs
  moqt-server/src/modules/message_handlers/object_datagram.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/stream_and_datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

Refactor and Add UniStreamReceiver closing (#139)
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_ok_handler.rs
  moqt-server/src/modules/message_handlers/object_stream.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/message_handlers/stream_header/handlers/stream_subgroup_header_handler.rs
  moqt-server/src/modules/message_handlers/stream_header/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/message_handlers/stream_header/server_processes/stream_track_header.rs
  moqt-server/src/modules/message_handlers/stream_header/server_processes/stream_track_subgroup.rs
  moqt-server/src/modules/moqt_client.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

Separate Object Stream Forwarder function (#140)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/Cargo.toml
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-server/src/modules/message_handlers.rs
  moqt-server/src/modules/message_handlers/object_datagram.rs
  moqt-server/src/modules/message_handlers/object_stream.rs
  moqt-server/src/modules/moqt_client.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/stream_and_datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/receiver.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/streams.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

delete mutex
  moqt-server/src/modules/object_cache_storage.rs
Due: moqt-server

impl unsubscribe_handler
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/unsubscribe_handler.rs
Due: moqt-server

Write SEQUENCE.md
  SEQUENCE.md
Due: none

delete mutex (#144)
  moqt-server/src/modules/object_cache_storage.rs
Due: moqt-server

Draw flow.drawio
  docs/SEQUENCE.md
  docs/flow.drawio
  docs/interoperability_test.md
Due: none

update flow.drawio
  docs/flow.drawio.svg
Due: none

Update drawio using svg
  docs/flow.drawio.svg
Due: none

Update flow.draio background
  docs/flow.drawio.svg
Due: none
