Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

codecov.yml:

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

github_checks:
  annotations: false

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 10%
    patch:
      default:
        target: 70%
        threshold: 10%

component_management:
  individual_components:
    - component_id: core
      name: moqt-core
      paths:
        - moqt-core/
      statuses:
        - type: project
          target: 80%
          threshold: 5%
        - type: patch
          target: 80%
    - component_id: server
      name: moqt-server
      paths:
        - moqt-server/
      statuses:
        - type: project
          target: 50%
          threshold: 10%
        - type: patch
          target: 60%

Modify test
  moqt-core/src/modules/messages/control_messages/client_setup.rs
Due: moqt-core

Modify test
  moqt-core/src/modules/messages/control_messages/server_setup.rs
Due: moqt-core

Modify supported versions
  moqt-core/src/modules/constants.rs
  moqt-core/src/modules/messages/control_messages/client_setup.rs
  moqt-core/src/modules/messages/control_messages/server_setup.rs
  moqt-server/src/modules/message_handlers/control_message.rs
Due: moqt-core, moqt-server

Modify calling API twice
  moqt-client-sample/src/lib.rs
Due: none

Make wating packet error to info
  moqt-server/src/modules/message_handlers/subgroup_stream_object.rs
Due: moqt-server

refactor: separate range class from subscription class
  moqt-core/src/modules/models.rs
  moqt-core/src/modules/models/range.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
Due: moqt-core

refactor: change to use range class
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

Separate Range class from Subscription class (#177)
  moqt-core/src/modules/models.rs
  moqt-core/src/modules/models/range.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-core, moqt-server

refactor: remove subscription getter functions
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-core, moqt-server

Implement Video Decoder
  js/examples/media/publisher/main.ts
  js/examples/media/publisher/videoEncoder.ts
  js/examples/media/subscriber/index.html
  js/examples/media/subscriber/main.ts
  js/examples/media/subscriber/videoDecoder.ts
Due: none

refactor: define getter functions for consumer/producer
  moqt-core/src/modules/models/range.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
Due: moqt-core

refactor: add getter commands
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

refactor: change to use new getter commands
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

fix: do not create out of range forwarder
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
Due: moqt-server

Remove Subscription Getter Functions and Add Alternative Getter Functions (#178)
  moqt-core/src/modules/models/range.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-core, moqt-server

Change Codec to AV1
  js/examples/media/publisher/videoEncoder.ts
  js/examples/media/subscriber/videoDecoder.ts
  scripts/start-localhost-test-chrome.sh
Due: none

fix: replace with downstream track alias
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
Due: moqt-server

extend multple callbacks
  js/examples/media/publisher/index.html
  js/examples/media/publisher/main.ts
  js/examples/media/publisher/sender.ts
  js/examples/media/publisher/videoEncoder.ts
  js/examples/media/subscriber/index.html
  js/examples/media/subscriber/main.ts
  js/examples/media/subscriber/videoDecoder.ts
  js/examples/message/main.js
Due: none

refactor: separate fn to generate downstream header
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

Fix: Downstream objects using the same track alias as upstream (#179)
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

Implement Audio sample
  js/examples/media/publisher/audioEncoder.ts
  js/examples/media/publisher/main.ts
  js/examples/media/subscriber/audioDecoder.ts
  js/examples/media/subscriber/index.html
  js/examples/media/subscriber/main.ts
  moqt-client-sample/src/lib.rs
  scripts/start-localhost-test-chrome.sh
Due: none

Change GroupId when keyfram is sent
  js/examples/media/publisher/main.ts
Due: none

Modify variable name
  js/examples/media/publisher/main.ts
Due: none

Add WebCodecs close
  js/examples/media/subscriber/audioDecoder.ts
  js/examples/media/subscriber/videoDecoder.ts
Due: none

Use HTML value for subscribe message
  js/examples/media/subscriber/index.html
  js/examples/media/subscriber/main.ts
Due: none
