Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

codecov.yml:

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 10%
    patch:
      default:
        target: 80%
        threshold: 10%

component_management:
  individual_components:
    - component_id: core
      name: moqt-core
      paths:
        - moqt-core/
      statuses:
        - type: project
          target: 90%
          threshold: 5%
        - type: patch
          target: 90%
    - component_id: server
      name: moqt-server
      paths:
        - moqt-server/
      statuses:
        - type: project
          target: 60%
          threshold: 5%
        - type: patch
          target: 80%

Fix the problem that cannot send object bi-directionally (#127)
  moqt-server/src/lib.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/announce_ok_handler.rs
  moqt-server/src/modules/handlers/stream_subgroup_header_handler.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/handlers/unannounce_handler.rs
  moqt-server/src/modules/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/server_processes/announce_message.rs
  moqt-server/src/modules/server_processes/announce_ok_message.rs
  moqt-server/src/modules/server_processes/stream_track_header.rs
  moqt-server/src/modules/server_processes/stream_track_subgroup.rs
  moqt-server/src/modules/server_processes/subscribe_error_message.rs
  moqt-server/src/modules/server_processes/subscribe_message.rs
  moqt-server/src/modules/server_processes/subscribe_namespace_message.rs
  moqt-server/src/modules/server_processes/subscribe_ok_message.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-server

refactor: refine ui (#128)
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
Due: none

fix: downstream max subscribe id is 0
  moqt-server/src/modules/handlers/server_setup_handler.rs
Due: moqt-server

fix: publisher group_order can be 0
  moqt-client-sample/src/lib.rs
Due: none

distinguish between forward and transfer
  moqt-core/src/modules/send_stream_dispatcher_repository.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/send_stream_dispatcher.rs
Due: moqt-core, moqt-server

refactor: add 'downstream' to open_subscription_tx
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/server_processes/subscribe_message.rs
Due: moqt-server

Support multiple subscriber (#125)
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/send_stream_dispatcher.rs
  moqt-server/src/modules/server_processes/subscribe_message.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-server

fix: publisher group_order can be 0 (#132)
  moqt-client-sample/src/lib.rs
Due: none

fix: downstream max subscribe id is 0 (#131)
  moqt-server/src/modules/handlers/server_setup_handler.rs
Due: moqt-server

refactor: reorganize message handlers dir
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/message_handlers.rs
  moqt-server/src/modules/message_handlers/control_message_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/announce_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/server_setup_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/unannounce_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/server_processes.rs
  moqt-server/src/modules/message_handlers/control_message_handler/server_processes/announce_error_message.rs
  moqt-server/src/modules/message_handlers/control_message_handler/server_processes/announce_message.rs
  moqt-server/src/modules/message_handlers/control_message_handler/server_processes/announce_ok_message.rs
  moqt-server/src/modules/message_handlers/control_message_handler/server_processes/client_setup_message.rs
  moqt-server/src/modules/message_handlers/control_message_handler/server_processes/subscribe_error_message.rs
  moqt-server/src/modules/message_handlers/control_message_handler/server_processes/subscribe_message.rs
  moqt-server/src/modules/message_handlers/control_message_handler/server_processes/subscribe_namespace_message.rs
  moqt-server/src/modules/message_handlers/control_message_handler/server_processes/subscribe_ok_message.rs
  moqt-server/src/modules/message_handlers/object_stream_handler.rs
  moqt-server/src/modules/message_handlers/stream_header_handler.rs
  moqt-server/src/modules/message_handlers/stream_header_handler/handlers.rs
  moqt-server/src/modules/message_handlers/stream_header_handler/handlers/stream_subgroup_header_handler.rs
  moqt-server/src/modules/message_handlers/stream_header_handler/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/message_handlers/stream_header_handler/server_processes.rs
  moqt-server/src/modules/message_handlers/stream_header_handler/server_processes/stream_track_header.rs
  moqt-server/src/modules/message_handlers/stream_header_handler/server_processes/stream_track_subgroup.rs
  moqt-server/src/modules/server_processes/announce_message.rs
Due: moqt-server

refactor: shorten dir name
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/server_setup_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/unannounce_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/announce_error_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/announce_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/announce_ok_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/client_setup_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_error_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_namespace_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_ok_message.rs
  moqt-server/src/modules/message_handlers/object_stream.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/message_handlers/stream_header/handlers.rs
  moqt-server/src/modules/message_handlers/stream_header/handlers/stream_subgroup_header_handler.rs
  moqt-server/src/modules/message_handlers/stream_header/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/message_handlers/stream_header/server_processes.rs
  moqt-server/src/modules/message_handlers/stream_header/server_processes/stream_track_header.rs
  moqt-server/src/modules/message_handlers/stream_header/server_processes/stream_track_subgroup.rs
Due: moqt-server

refactor: separate lib.rs
  moqt-server-sample/src/main.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/message_handlers/control_message_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/announce_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/server_setup_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message_handler/server_processes/subscribe_message.rs
  moqt-server/src/modules/moqt_client.rs
  moqt-server/src/modules/moqt_config.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/senders.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/stream_and_datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream/receiver.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream/stream.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/receiver.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/streams.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: session_handler as class
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/session_handler.rs
Due: moqt-server

disable codecov inline annotion
  codecov.yml
Due: none

separate fn in uni stream receiver
  moqt-core/src/modules/data_stream_type.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/object_stream.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/receiver.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/streams.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

fix: indicated items
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/server_setup_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/moqt_client.rs
  moqt-server/src/modules/server_processes/senders.rs
Due: moqt-server

WIP
  moqt-client-sample/.cargo/config.toml
  moqt-client-sample/.vscode/settings.json
  moqt-client-sample/config.toml
Due: none

impl unsubscribe of draft-06
  moqt-core/src/modules/messages/control_messages/unsubscribe.rs
Due: moqt-core

add test of unsubscribe
  moqt-core/src/modules/messages/control_messages/unsubscribe.rs
Due: moqt-core

simplify method name
  moqt-core/src/modules/messages/control_messages/unsubscribe.rs
Due: moqt-core

simplify test and import
  moqt-core/src/modules/messages/control_messages/announce.rs
  moqt-core/src/modules/messages/control_messages/announce_error.rs
  moqt-core/src/modules/messages/control_messages/announce_ok.rs
  moqt-core/src/modules/messages/control_messages/client_setup.rs
  moqt-core/src/modules/messages/control_messages/server_setup.rs
  moqt-core/src/modules/messages/control_messages/setup_parameters.rs
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/messages/control_messages/unannounce.rs
  moqt-core/src/modules/messages/control_messages/unsubscribe.rs
  moqt-core/src/modules/messages/control_messages/version_specific_parameters.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_ok_handler.rs
Due: moqt-core, moqt-server

WIP
  moqt-core/src/modules/messages/control_messages/subscribe_done.rs
  moqt-core/src/modules/messages/control_messages/unsubscribe.rs
  moqt-server/src/modules/buffer_manager.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/unsubscribe_message.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
Due: moqt-core, moqt-server

WIP
  moqt-core/src/modules/messages/control_messages.rs
  moqt-core/src/modules/messages/control_messages/subscribe_done.rs
Due: moqt-core
