Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

refactor: add subgroup relation to group/stream map
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

refactor: sepalate step to send signal
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

delete is_subscription_ended
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

Delete: Role from SETUP
  js/examples/media/subscriber/main.ts
Due: none

Fix: stream is ended by EndOfObject
  js/examples/media/subscriber/main.ts
  moqt-client-sample/src/lib.rs
Due: none

Delete role from examples
  js/examples/media/publisher/main.ts
Due: none

fix: rename StreamHeaderSubgroup to SubgroupHeader
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_header.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

feat: add OBJECT_DATAGRAM_STATUS(0x2)
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

Update type of Data Streams for draft-10 (#192)
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_header.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

feat: update OBJECT_DATAGRAM format
  moqt-core/src/modules/messages/data_streams/datagram.rs
Due: moqt-core

feat: change to use new OBJECT_DATAGRAM format
  moqt-client-sample/src/lib.rs
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
Due: moqt-server

refactor: fix comment
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
Due: moqt-core

export GroupOrder
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages.rs
  moqt-core/src/modules/messages/control_messages/group_order.rs
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

Create Subscription enum for fetch
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/models.rs
  moqt-core/src/modules/models/nodes.rs
  moqt-core/src/modules/models/nodes/consumers.rs
  moqt-core/src/modules/models/nodes/producers.rs
  moqt-core/src/modules/models/nodes/registry.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/fetch.rs
  moqt-core/src/modules/models/subscriptions/subscribe.rs
  moqt-core/src/modules/models/subscriptions/subscription.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

clafity method name
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

clafiry method name
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-server

fix: change first object for first subscriber when Latest Object
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

refactor: add comment and annotation
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-core, moqt-server

feat: add OBJECT_DATAGRAM_STATUS message
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/datagram_status.rs
Due: moqt-core

feat: Relay supports OBJECT_DATAGRAM_STATUS message
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/object_cache_storage/cache/datagram.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
Due: moqt-server

feat: Clients support OBJECT_DATAGRAM_STATUS message
  moqt-client-sample/src/lib.rs
Due: none

Path conditions:
  moqt-core: any of: moqt-core/
  moqt-server: any of: moqt-server/
