Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

codecov.yml:

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

github_checks:
  annotations: false

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 10%
    patch:
      default:
        target: 70%
        threshold: 10%

component_management:
  individual_components:
    - component_id: core
      name: moqt-core
      paths:
        - moqt-core/
      statuses:
        - type: project
          target: 80%
          threshold: 5%
        - type: patch
          target: 80%
    - component_id: server
      name: moqt-server
      paths:
        - moqt-server/
      statuses:
        - type: project
          target: 50%
          threshold: 10%
        - type: patch
          target: 60%

Refactor write/read varint
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_done.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/messages/control_messages/version_specific_parameters.rs
  moqt-core/src/modules/messages/data_streams/datagram.rs
  moqt-core/src/modules/messages/data_streams/datagram_status.rs
  moqt-core/src/modules/messages/data_streams/extension_header.rs
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
  moqt-core/src/modules/variable_bytes.rs
Due: moqt-core

Format
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_done.rs
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
Due: moqt-core

Use fork branch
  moqt-server/Cargo.toml
Due: moqt-server

Modify README
  README.md
Due: none

Update: library
  Cargo.lock
  js/examples/media/publisher/main.ts
  js/examples/media/publisher/videoEncoder.ts
  js/examples/media/subscriber/videoDecoder.ts
  moqt-server/Cargo.toml
Due: moqt-server

replace last() to next_back()
  moqt-server/src/modules/object_cache_storage/cache/datagram.rs
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
Due: moqt-server

delete try
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

delete try
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
Due: moqt-server

delete try
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_header.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_object.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

Refactoring delete try (#201)
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_header.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_object.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

change finish() position
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

fix: cant get object in first group
  moqt-core/src/modules/models/range.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_object.rs
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-core, moqt-server

use await sleep
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

delete unnecessary import
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

comment out console.log for memory capacity
  js/examples/media/subscriber/main.ts
Due: none

add comment
  js/examples/media/publisher/main.ts
  js/examples/media/subscriber/main.ts
Due: none

Update js/examples/media/subscriber/main.ts
  js/examples/media/subscriber/main.ts
Due: none

modify comment
  js/examples/media/subscriber/main.ts
Due: none

Merge pull request #203 from nttcom/refactoring-subscriber-memory-leak
  js/examples/media/publisher/main.ts
  js/examples/media/subscriber/main.ts
Due: none

Rorate log files
  Cargo.lock
  moqt-server/Cargo.toml
  moqt-server/src/modules/logging.rs
Due: moqt-server

Rorate log files (#204)
  Cargo.lock
  moqt-server/Cargo.toml
  moqt-server/src/modules/logging.rs
Due: moqt-server

use tokio-console
  .gitignore
  .vscode/extensions.json
  Cargo.lock
  README.md
  moqt-server/.cargo/config
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
  moqt-server/src/modules/logging.rs
Due: moqt-server

Add tokio-console
  README.md
Due: none

modify command
  .cargo/config.toml
  README.md
  moqt-server/.cargo/config
Due: moqt-server

use tokio-console (#205)
  .cargo/config.toml
  .gitignore
  .vscode/extensions.json
  Cargo.lock
  README.md
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
  moqt-server/src/modules/logging.rs
Due: moqt-server

use makefile
  .cargo/config.toml
  Cargo.lock
  Makefile
  README.md
  scripts/start-localhost-test-chrome.sh
Due: none

Update README.md
  README.md
Due: none
