Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

codecov.yml:

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 10%
    patch:
      default:
        target: 80%
        threshold: 10%

component_management:
  individual_components:
    - component_id: core
      name: moqt-core
      paths:
        - moqt-core/
      statuses:
        - type: project
          target: 90%
          threshold: 5%
        - type: patch
          target: 90%
    - component_id: server
      name: moqt-server
      paths:
        - moqt-server/
      statuses:
        - type: project
          target: 60%
          threshold: 5%
        - type: patch
          target: 80%

feat: announce propagate
  moqt-core/src/modules/messages/control_messages/announce_error.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/server_processes/announce_message.rs
Due: moqt-core, moqt-server

Implemented client functions for track stream and fixed relay (#111)
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
Due: moqt-server

Features related to object stream per track (#118)
  Cargo.lock
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-core/src/modules/variable_bytes.rs
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/relation.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/stream_track_header.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-core, moqt-server

merge js from draft-06
  js/main.js
Due: none

refactor: create relay message
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
Due: moqt-core, moqt-server

refactor: log timing
  moqt-server/src/modules/handlers/subscribe_handler.rs
Due: moqt-server

feat: relay new messages
  moqt-server/src/lib.rs
Due: moqt-server

feat: send subscribe namespace ok
  moqt-server/src/lib.rs
Due: moqt-server

feat: send/recv subscribe_namespace
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/announce.rs
Due: moqt-core

Merge branch 'impl/new_message_relay' into impl/client/subscribe_namespace
  Cargo.lock
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-core/src/modules/variable_bytes.rs
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/relation.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/stream_track_header.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-core, moqt-server

delete: unnecessary parameter
  js/main.js
  moqt-client-sample/src/lib.rs
Due: none

fix: handle multiple control message
  moqt-client-sample/src/lib.rs
Due: none

refactor: error message
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
Due: moqt-server

feat: send announce ok message
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
Due: moqt-core

refactor: send/recv log
  moqt-client-sample/src/lib.rs
Due: none

fix: freeze issue
  js/main.js
  moqt-client-sample/src/lib.rs
Due: none

refactor: object header track
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-server/src/lib.rs
Due: moqt-core, moqt-server

feat: stream per subgroup
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/stream_subgroup_header_handler.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/stream_track_subgroup.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-core, moqt-server

fix: add original order
  moqt-core/src/modules/messages/control_messages/subscribe.rs
Due: moqt-core

Support client send/recv SUBSCRIBE_NAMESPACE (#121)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/announce.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
Due: moqt-core

Support new messages relay feature (#120)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/announce.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
  moqt-server/src/lib.rs
Due: moqt-core, moqt-server

Propagate announce if the namespace was subscribed by subscribers (#117)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/announce.rs
  moqt-core/src/modules/messages/control_messages/announce_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/server_processes/announce_message.rs
Due: moqt-core, moqt-server

Changed the method to create relay messages (#119)
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
Due: moqt-core, moqt-server

refactor: import grouping
  moqt-server/src/modules/control_message_handler.rs
Due: moqt-server

Support ANNOUNCE_OK and ANNOUNCE_ERROR handler (#116)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/announce.rs
  moqt-core/src/modules/messages/control_messages/announce_error.rs
  moqt-core/src/modules/messages/control_messages/announce_ok.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/announce_ok_handler.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/announce_error_message.rs
  moqt-server/src/modules/server_processes/announce_message.rs
  moqt-server/src/modules/server_processes/announce_ok_message.rs
Due: moqt-core, moqt-server

feat: multiple subscriber
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/server_processes/subscribe_message.rs
Due: moqt-server

fix: freeze issue (#122)
  js/main.js
  moqt-client-sample/src/lib.rs
Due: none

fix: add original order (#124)
  moqt-core/src/modules/messages/control_messages/subscribe.rs
Due: moqt-core

Support SUBSCRIBE_ERROR handler (#113)
  README.md
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/relation.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/subscribe_error_message.rs
  moqt-server/src/modules/server_processes/subscribe_message.rs
Due: moqt-core, moqt-server

Add SUBSCRIBE_NAMESPACE handler (#115)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/announce.rs
  moqt-core/src/modules/messages/control_messages/announce_error.rs
  moqt-core/src/modules/messages/control_messages/announce_ok.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/announce_ok_handler.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/announce_error_message.rs
  moqt-server/src/modules/server_processes/announce_message.rs
  moqt-server/src/modules/server_processes/announce_ok_message.rs
  moqt-server/src/modules/server_processes/subscribe_namespace_message.rs
Due: moqt-core, moqt-server

Merge branch 'draft-06' into impl/subgroup_stream
  js/main.js
Due: none

Support stream per subgroup on server and client (#123)
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/stream_subgroup_header_handler.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/stream_track_subgroup.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-core, moqt-server

fix: broken due to merge
  js/main.js
Due: none
