Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

codecov.yml:

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

github_checks:
  annotations: false

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 10%
    patch:
      default:
        target: 70%
        threshold: 10%

component_management:
  individual_components:
    - component_id: core
      name: moqt-core
      paths:
        - moqt-core/
      statuses:
        - type: project
          target: 80%
          threshold: 5%
        - type: patch
          target: 80%
    - component_id: server
      name: moqt-server
      paths:
        - moqt-server/
      statuses:
        - type: project
          target: 50%
          threshold: 10%
        - type: patch
          target: 60%

Fix borrow error for client
  moqt-client-sample/src/lib.rs
Due: none

Improve WebCodecs performance
  js/examples/media/publisher/main.ts
  js/examples/media/publisher/videoEncoder.ts
  js/examples/media/subscriber/main.ts
  js/examples/media/subscriber/videoDecoder.ts
Due: none

feat: set/get actual start group/object
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

feat: LatestObject for subgroup stream
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

refactor: remove unnecessary Option for subgroup_stream_id
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

update WebCodecs type difinitions
  js/package-lock.json
  js/package.json
Due: none

Adapt svc and subgroups
  js/examples/media/publisher/main.ts
  js/examples/media/publisher/videoEncoder.ts
  js/examples/media/subscriber/videoDecoder.ts
  moqt-client-sample/src/lib.rs
Due: none

Change ObjectStatus in draft-10
  moqt-core/src/modules/messages/data_streams/object_status.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-core, moqt-server

Modify timing of frameCounter inclement
  js/examples/media/publisher/videoEncoder.ts
Due: none

implement send EndOfGroup Object
  js/examples/media/publisher/sender.ts
  moqt-client-sample/src/lib.rs
Due: none

feat: explicit finish Receiver/Forwarder
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/uni_stream.rs
Due: moqt-server

refactor: add comments
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/uni_stream.rs
Due: moqt-server

refactor: change SendStreamDispatcher for Control Message
  docs/flow.drawio.svg
  moqt-core/src/lib.rs
  moqt-core/src/modules.rs
  moqt-core/src/modules/send_stream_dispatcher_repository.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/control_message_dispatcher.rs
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_announces_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/announce_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_announces_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_error_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_ok_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/unsubscribe_message.rs
  moqt-server/src/modules/send_stream_dispatcher.rs
  moqt-server/src/modules/server_processes/control_stream/handler.rs
  moqt-server/src/modules/server_processes/senders.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

refactor: remove constant for stream direction
  moqt-core/src/modules/constants.rs
Due: moqt-core

feat: get/set stream ids related to groups
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

Increase max_concurrent_uni_streams
  Cargo.lock
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
Due: moqt-server

change transport receive window
  moqt-server/src/lib.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_object.rs
Due: moqt-server

feat: signal dispatcher
  moqt-server/src/modules.rs
  moqt-server/src/modules/signal_dispatcher.rs
Due: moqt-server

feat: spawn stream signal dispatch thread
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/senders.rs
Due: moqt-server

feat: terminate other forwarders belong to the same group
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
  moqt-server/src/modules/signal_dispatcher.rs
Due: moqt-server

feat: terminate other receivers belong to the same group
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: rename signal dispatch command
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
  moqt-server/src/modules/signal_dispatcher.rs
Due: moqt-server
