Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

codecov.yml:

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 10%
    patch:
      default:
        target: 80%
        threshold: 10%

component_management:
  individual_components:
    - component_id: core
      name: moqt-core
      paths:
        - moqt-core/
      statuses:
        - type: project
          target: 90%
          threshold: 5%
        - type: patch
          target: 90%
    - component_id: server
      name: moqt-server
      paths:
        - moqt-server/
      statuses:
        - type: project
          target: 60%
          threshold: 5%
        - type: patch
          target: 80%

impl: subscribe_error packetize/depacketize
  moqt-core/src/modules/messages/control_messages/subscribe_error.rs
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
Due: moqt-core, moqt-server

feat: handle subscribe failure
  moqt-server/src/modules/server_processes/subscribe_message.rs
Due: moqt-server

feat: handle subscribe error message
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/relation.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/subscribe_error_message.rs
Due: moqt-core, moqt-server

send/recv subscribe error on client
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
Due: moqt-core

feat: subscribe error
  README.md
Due: none

fix: change default value to 06
  js/index.html
Due: none

fix: wrong item text
  README.md
Due: none

add field for 06
  interoperability_test.md
Due: none

fix: typo
  interoperability_test.md
Due: none

add comment
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
Due: moqt-server

use object_datagram_writer
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
Due: none

feat: relay according to filter_type
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/object_cache_storage.rs
Due: moqt-core, moqt-server

fix: delete unnecessary import
  moqt-client-sample/src/lib.rs
Due: none

refactor: delete unnecessary comment
  moqt-core/src/modules/messages/control_messages/announce_error.rs
Due: moqt-core

refactor: delete unnecessary comment
  moqt-core/src/modules/messages/control_messages/client_setup.rs
Due: moqt-core

refactor: delete unnecessary comment
  moqt-core/src/modules/messages/control_messages/announce.rs
  moqt-core/src/modules/messages/control_messages/announce_error.rs
  moqt-core/src/modules/messages/control_messages/version_specific_parameters.rs
Due: moqt-core

feat: subscribe_namespace message
  moqt-core/src/modules/messages/control_messages.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
Due: moqt-core

fix: some items pointed out in reviews
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
Due: moqt-core, moqt-server

refactor: declaration position
  moqt-client-sample/src/lib.rs
Due: none

fix: format
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
Due: moqt-core

Update MoQ Transport version to 06 (#112)
  README.md
  interoperability_test.md
  js/index.html
  moqt-core/src/modules/constants.rs
  moqt-core/src/modules/messages/control_messages/client_setup.rs
  moqt-core/src/modules/messages/control_messages/server_setup.rs
  moqt-server/src/modules/control_message_handler.rs
Due: moqt-core, moqt-server

delete test
  moqt-server/src/modules/object_cache_storage.rs
Due: moqt-server

fix fn call name
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
Due: moqt-server

refactor: pubsub relation cmd name
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-server

Message format of SUBSCRIBE_NAMESPACE family (#114)
  moqt-core/src/modules/messages/control_messages.rs
  moqt-core/src/modules/messages/control_messages/announce.rs
  moqt-core/src/modules/messages/control_messages/announce_error.rs
  moqt-core/src/modules/messages/control_messages/client_setup.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
  moqt-core/src/modules/messages/control_messages/version_specific_parameters.rs
Due: moqt-core

refactor: fix and sort import items
  moqt-server/src/lib.rs
Due: moqt-server

Implementd object cache storage and relay functions for track stream (#110)
  Cargo.lock
  moqt-core/src/modules.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-core/src/modules/variable_bytes.rs
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/relation.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/stream_track_header.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-core, moqt-server

refactor: delete unnecessary param
  moqt-core/src/modules/messages/control_messages/announce.rs
Due: moqt-core

feat: get parameter
  moqt-core/src/modules/messages/control_messages/subscribe_namespace.rs
Due: moqt-core

refactor: delete unnecessary param
  moqt-server/src/modules/handlers/announce_handler.rs
Due: moqt-server

feat: subscribe namespace
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/subscribe_namespace_message.rs
Due: moqt-core, moqt-server

fix: behavior along with draft
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_error.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
Due: moqt-core, moqt-server

add tests
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-server

feat: handle announce responce
  moqt-core/src/modules/messages/control_messages/announce_ok.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/announce_ok_handler.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/announce_error_message.rs
  moqt-server/src/modules/server_processes/announce_ok_message.rs
Due: moqt-core, moqt-server

add todo comment
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
Due: moqt-server

refactor: add error handling
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
Due: moqt-server
