Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

Move ObjectKey declaration to ObjectCacheStorage (#154)
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/receiver.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/receiver.rs
Due: moqt-server

remove Mutex from RecvStream
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/streams.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

remove subscribe_id from UniSendStream
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/streams.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

Refactor member variables of UniRecvStream/UniSendStream classes (#155)
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/forwarder.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/streams.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: separate processses from start fn
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: separate processses from start fn (#156)
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/session_handler.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: clone session_span
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: clone session_span (#157)
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

rename control stream functions
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream/handler.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream/sender.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

rename ObjectDatagramForwarder
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

rename ObjectDatagramReceiver
  moqt-server/src/modules/server_processes/stream_and_datagram/datagram/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

rename ObjectStreamReceiver
  moqt-server/src/modules/server_processes/stream_and_datagram/uni_directional_stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: reorganize directory structure and rename receiver/forwarder files
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/control_stream.rs
  moqt-server/src/modules/server_processes/control_stream/bi_stream.rs
  moqt-server/src/modules/server_processes/control_stream/handler.rs
  moqt-server/src/modules/server_processes/control_stream/sender.rs
  moqt-server/src/modules/server_processes/data_streams.rs
  moqt-server/src/modules/server_processes/data_streams/datagram.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream/uni_stream.rs
  moqt-server/src/modules/server_processes/stream_and_datagram.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: rename functions to spawn threads
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

Rename and reorganize Receiver and Forwarder functions (#158)
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/control_stream.rs
  moqt-server/src/modules/server_processes/control_stream/bi_stream.rs
  moqt-server/src/modules/server_processes/control_stream/handler.rs
  moqt-server/src/modules/server_processes/control_stream/sender.rs
  moqt-server/src/modules/server_processes/data_streams.rs
  moqt-server/src/modules/server_processes/data_streams/datagram.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
  moqt-server/src/modules/server_processes/data_streams/stream/uni_stream.rs
  moqt-server/src/modules/server_processes/stream_and_datagram.rs
  moqt-server/src/modules/server_processes/stream_and_datagram/bi_directional_stream.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

refactor: refine fn to check subscription/stream end
  moqt-core/src/modules/models/subscriptions.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
Due: moqt-core, moqt-server

refactor: add comment for is_data_stream_ended
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
Due: moqt-server

Refine Receiver/Forwarder end check functions (#159)
  moqt-core/src/modules/models/subscriptions.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
Due: moqt-core, moqt-server

delete interoperability test list
  docs/interoperability_test.md
Due: none

unmark subgroup support
  README.md
Due: none

fix: delete extra information
  README.md
Due: none

fix: delete extra information (#161)
  README.md
Due: none

refactor: rename datagram object message
  README.md
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/datagram.rs
  moqt-server/src/modules/message_handlers/object_datagram.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/receiver.rs
Due: moqt-core, moqt-server

refactor: fix wording in comment
  moqt-core/src/modules/messages/data_streams/datagram.rs
Due: moqt-core

refactor: rename subgroup stream messages
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_per_subgroup.rs
  moqt-server/src/modules/message_handlers/object_stream.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
Due: moqt-core, moqt-server

refactor: fix wording in logging
  moqt-core/src/modules/messages/data_streams/stream_per_subgroup.rs
Due: moqt-core

refactor: rename track stream messages
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-core/src/modules/messages/data_streams/stream_per_track.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/object_stream.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/stream/receiver.rs
Due: moqt-core, moqt-server

refactor: rename wt writer
  moqt-client-sample/src/lib.rs
Due: none

refactor: rename a test
  moqt-server/src/modules/object_cache_storage.rs
Due: moqt-server

refactor: remove unnecessary as_any
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/datagram.rs
  moqt-core/src/modules/messages/data_streams/stream_per_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_per_track.rs
Due: moqt-core

refactor: rename stream files
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
  moqt-core/src/modules/messages/data_streams/track_stream.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/stream_header.rs
  moqt-server/src/modules/message_handlers/stream_object.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/server_processes/data_streams/stream/forwarder.rs
Due: moqt-core, moqt-server

Path conditions:
  moqt-core: any of: moqt-core/
  moqt-server: any of: moqt-server/
