Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

use makefile (#206)
  .cargo/config.toml
  Cargo.lock
  Makefile
  README.md
  scripts/start-localhost-test-chrome.sh
Due: none

Add name to thread
  .cargo/config.toml
  .vscode/settings.json
  Cargo.lock
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

Update moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

run formatter
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

Modify RUSTFLAGS
  .github/workflows/lint.yml
Due: none

Add name to thread (#207)
  .cargo/config.toml
  .github/workflows/lint.yml
  .vscode/settings.json
  Cargo.lock
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

delete unnecessary stream
  moqt-client-sample/src/lib.rs
Due: none

Add comment
  moqt-client-sample/src/lib.rs
Due: none

Update moqt-client-sample/src/lib.rs
  moqt-client-sample/src/lib.rs
Due: none

Add error handling
  moqt-client-sample/src/lib.rs
Due: none

Delete unnecessary uni stream (#208)
  moqt-client-sample/src/lib.rs
Due: none

modify thread name
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

modify thread name (#209)
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

Modify ReleaseStream Bug in Forwarder
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

Modify ReleaseStream Bug in Forwarder (#210)
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

Abort child task
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

Add log for aborting task
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

Abort child task (#211)
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

filter only tokio::task info
  moqt-server/src/modules/logging.rs
Due: moqt-server

filter only tokio::task info (#212)
  moqt-server/src/modules/logging.rs
Due: moqt-server

Set Rust version
  Cargo.lock
  moqt-client-sample/Cargo.toml
  moqt-client-sample/src/lib.rs
  moqt-core/Cargo.toml
  moqt-server-sample/Cargo.toml
  moqt-server/Cargo.toml
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/server_setup_handler.rs
  rust-toolchain
Due: moqt-core, moqt-server

optimize get function
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
Due: moqt-server

change thread names
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-server

reorder: function position
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

optimize bytes processing
  Cargo.lock
  Makefile
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
  moqt-core/src/modules/variable_bytes.rs
  moqt-core/src/modules/variable_integer.rs
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-core, moqt-server

Path conditions:
  moqt-core: any of: moqt-core/
  moqt-server: any of: moqt-server/
