Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

feat: message app send/recv OBJECT_DATAGRAM_STATUS
  js/examples/message/index.html
  js/examples/message/main.js
Due: none

fix: get subgroup largest object id
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
Due: moqt-server

fix: impl none to getter of largest group/object id
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/object_cache_storage/cache/datagram.rs
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
Due: moqt-server

fix: clippy error
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
Due: moqt-server

fix: get next largest object id for first object for subsequent stream
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

feat: get all uni-directionl stream_ids within session
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

feat: add TerminateReason to support SessionClosed signal
  moqt-server/src/modules/signal_dispatcher.rs
Due: moqt-server

feat: support for new signal format
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

feat: terminate all Receiver/Forwarder for the client when session closed
  moqt-server/src/modules/server_processes/session_handler.rs
Due: moqt-server

Modify return type
  moqt-server/src/modules/object_cache_storage/cache/datagram.rs
Due: moqt-server

Change chrome start script
  scripts/start-localhost-test-chrome.sh
Due: none

Simplify method name
  moqt-server/src/modules/object_cache_storage/cache/datagram.rs
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
Due: moqt-server

Change supported version to draft-10
  js/examples/media/publisher/main.ts
  js/examples/media/subscriber/main.ts
  js/examples/message/index.html
  moqt-core/src/modules/constants.rs
Due: moqt-core

Change start Chrome script
  scripts/start-localhost-test-chrome.sh
Due: none

Rever Role
  js/examples/media/publisher/main.ts
  js/examples/media/subscriber/main.ts
  js/examples/message/index.html
  js/examples/message/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/constants.rs
  moqt-core/src/modules/messages/control_messages/setup_parameters.rs
Due: moqt-core

modify test
  moqt-core/src/modules/constants.rs
  moqt-core/src/modules/messages/control_messages/client_setup.rs
  moqt-core/src/modules/messages/control_messages/server_setup.rs
  moqt-server/src/modules/message_handlers/control_message.rs
Due: moqt-core, moqt-server

Change server payload size setting.
  moqt-server/src/lib.rs
Due: moqt-server

Change max_payload_size
  moqt-server/src/lib.rs
Due: moqt-server

Increase subscribe parameters
  moqt-client-sample/src/lib.rs
Due: none

Modify didn't treat value as VarInt
  moqt-core/src/modules/messages/control_messages/version_specific_parameters.rs
  moqt-core/src/modules/variable_integer.rs
Due: moqt-core

Refactor write/read varint
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_done.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/messages/control_messages/version_specific_parameters.rs
  moqt-core/src/modules/messages/data_streams/datagram.rs
  moqt-core/src/modules/messages/data_streams/datagram_status.rs
  moqt-core/src/modules/messages/data_streams/extension_header.rs
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
  moqt-core/src/modules/variable_bytes.rs
Due: moqt-core

Path conditions:
  moqt-core: any of: moqt-core/
  moqt-server: any of: moqt-server/
