Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

codecov.yml:

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

github_checks:
  annotations: false

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 10%
    patch:
      default:
        target: 70%
        threshold: 10%

component_management:
  individual_components:
    - component_id: core
      name: moqt-core
      paths:
        - moqt-core/
      statuses:
        - type: project
          target: 80%
          threshold: 5%
        - type: patch
          target: 80%
    - component_id: server
      name: moqt-server
      paths:
        - moqt-server/
      statuses:
        - type: project
          target: 50%
          threshold: 10%
        - type: patch
          target: 60%

refactor: rename signal dispatch command
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
  moqt-server/src/modules/signal_dispatcher.rs
Due: moqt-server

feat: remove all senders for data stream threads
  moqt-server/src/modules/server_processes/session_handler.rs
Due: moqt-server

refactor: rename setter functions
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-core, moqt-server

refactor: remove unnecessary _repository from variable names
  moqt-server/src/modules/message_handlers/control_message.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/announce_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_announces_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/announce_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_announces_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_error_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/subscribe_ok_message.rs
  moqt-server/src/modules/message_handlers/control_message/server_processes/unsubscribe_message.rs
Due: moqt-server

fix: set actual_start if ContentExist is true and FilterType is LatestObject
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
Due: moqt-server

refactor: rename functions
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

refactor: rename actual_start to actual_object_start
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-core, moqt-server

fix: revert wrong comment replacement
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
Due: moqt-server

refactor: rename Range related classes
  moqt-core/src/modules/models/subscriptions.rs
Due: moqt-core

refactor: rename requested_range to requested_object_range
  moqt-core/src/modules/models/range.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-core, moqt-server

fix: format error
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
Due: moqt-core

Support LatestObject on Subgroup Object Receiver / Forwarder (#184)
  moqt-core/src/modules/models/range.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/object_cache_storage/cache/subgroup_stream.rs
  moqt-server/src/modules/object_cache_storage/commands.rs
  moqt-server/src/modules/object_cache_storage/storage.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
  moqt-server/src/modules/server_processes/thread_starters.rs
Due: moqt-core, moqt-server

Change max streams settings and buffer size
  moqt-server/src/lib.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-server

Modify hanging reload button
  js/examples/media/subscriber/index.html
  js/examples/media/subscriber/main.ts
Due: none

feat: extension_header packetize/depacketize
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/extension_header.rs
Due: moqt-core

feat: use extension headers in message format
  moqt-core/src/modules/messages/data_streams/datagram.rs
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
Due: moqt-core

feat: add extension headers to object
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_object.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
Due: moqt-server

feat: add empty extension headers when send object
  moqt-client-sample/src/lib.rs
Due: none

fix: lint error
  moqt-client-sample/src/lib.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/server_processes/control_stream/handler.rs
Due: moqt-server

refactor: simplify function
  js/examples/media/publisher/audioEncoder.ts
  js/examples/media/publisher/const.ts
  js/examples/media/publisher/main.ts
  js/examples/media/publisher/sender.ts
  js/examples/media/publisher/utils.ts
  js/examples/media/publisher/videoEncoder.ts
  js/examples/media/subscriber/const.ts
  js/examples/media/subscriber/main.ts
  js/examples/media/subscriber/utils.ts
Due: none

delete unnecessary import
  moqt-client-sample/src/lib.rs
Due: none

Fix: modify import error
  moqt-client-sample/src/lib.rs
Due: none

Handling ObjectPayloadLength is zero
  js/examples/media/subscriber/audioDecoder.ts
  js/examples/media/subscriber/main.ts
  js/examples/media/subscriber/videoDecoder.ts
Due: none

Add Extension headers to Object formats (Target branch: draft-10) (#188)
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/datagram.rs
  moqt-core/src/modules/messages/data_streams/extension_header.rs
  moqt-core/src/modules/messages/data_streams/subgroup_stream.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/datagram_object.rs
  moqt-server/src/modules/message_handlers/subgroup_stream_object.rs
  moqt-server/src/modules/object_cache_storage/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
Due: moqt-core, moqt-server

Delete Role from SETUP
  js/examples/media/publisher/main.ts
  js/examples/media/subscriber/main.ts
  js/examples/message/index.html
  js/examples/message/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/client_setup.rs
  moqt-core/src/modules/messages/control_messages/server_setup.rs
  moqt-core/src/modules/messages/control_messages/setup_parameters.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/server_setup_handler.rs
  moqt-server/src/modules/moqt_client.rs
Due: moqt-core, moqt-server

Delete ObjectEnd from SUBCRIBE
  js/examples/media/subscriber/main.ts
  js/examples/message/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/models/range.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/message_handlers/control_message/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes/data_streams/datagram/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/forwarder.rs
  moqt-server/src/modules/server_processes/data_streams/subgroup_stream/receiver.rs
Due: moqt-core, moqt-server
