Repository nttcom/moq-wasm: changes, and which Codecov flags are due for each by the changed paths.
All: moqt-core, moqt-server

fix: warning
  moqt-client-sample/src/lib.rs
Due: none

add: text about draft ver
  README.md
Due: none

add: text about draft ver (#126)
  README.md
Due: none

WIP
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/constants.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/datagram_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/relation.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/send_stream_dispatcher.rs
Due: moqt-core, moqt-server

refactor: refine ui
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
Due: none

fix: mutex bug
  moqt-server/src/lib.rs
Due: moqt-server

impl datagram send and recv
  moqt-server/src/lib.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/send_stream_dispatcher.rs
Due: moqt-server

fix: define mutex range
  moqt-server/src/lib.rs
Due: moqt-server

refactor: remove unnecessary mutable
  moqt-server/src/lib.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/announce_ok_handler.rs
  moqt-server/src/modules/handlers/stream_subgroup_header_handler.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/handlers/unannounce_handler.rs
  moqt-server/src/modules/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/server_processes/announce_message.rs
  moqt-server/src/modules/server_processes/announce_ok_message.rs
  moqt-server/src/modules/server_processes/stream_track_header.rs
  moqt-server/src/modules/server_processes/stream_track_subgroup.rs
  moqt-server/src/modules/server_processes/subscribe_error_message.rs
  moqt-server/src/modules/server_processes/subscribe_message.rs
  moqt-server/src/modules/server_processes/subscribe_namespace_message.rs
  moqt-server/src/modules/server_processes/subscribe_ok_message.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-server

refactor: remove unnecessary mutable from test
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/announce_ok_handler.rs
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
Due: moqt-server

change destination to online server
  js/index.html
  scripts/start-localhost-test-chrome.sh
Due: none

[important] send max_subscribe_id
  moqt-server/src/modules/handlers/server_setup_handler.rs
Due: moqt-server

[important] send max_subscribe_id as 10
  moqt-server/src/modules/handlers/server_setup_handler.rs
Due: moqt-server

add subjectAltName of server
  README.md
  subjectnames.txt
Due: none

feat: datagram
  Cargo.lock
  js/index.html
  js/main.js
  moqt-client-sample/Cargo.toml
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/datagram_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_datagram_handler.rs
Due: moqt-core, moqt-server

feat: datagram
  moqt-server/src/modules/handlers/datagram_handler.rs
Due: moqt-server

Impl/datagram to hackathon (#129)
  Cargo.lock
  js/index.html
  js/main.js
  moqt-client-sample/Cargo.toml
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_datagram_handler.rs
Due: moqt-core, moqt-server

update feature list
  README.md
Due: none

[important] fix: subscribe_ok group order
  moqt-client-sample/src/lib.rs
Due: none

support 07 format
  README.md
  js/index.html
  js/main.js
  moqt-client-sample/src/lib.rs
  moqt-core/src/modules/constants.rs
  moqt-core/src/modules/control_message_type.rs
  moqt-core/src/modules/data_stream_type.rs
  moqt-core/src/modules/messages/control_messages.rs
  moqt-core/src/modules/messages/control_messages/fetch.rs
  moqt-core/src/modules/messages/control_messages/subscribe_announces.rs
  moqt-core/src/modules/messages/control_messages/subscribe_announces_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_announces_ok.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/data_streams/fetch_header.rs
  moqt-core/src/modules/messages/data_streams/object_stream_fetch.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/subscriptions/nodes/registry.rs
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers.rs
  moqt-server/src/modules/handlers/fetch_handler.rs
  moqt-server/src/modules/handlers/stream_subgroup_header_handler.rs
  moqt-server/src/modules/handlers/subscribe_announces_handler.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/object_datagram_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/commands.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
  moqt-server/src/modules/server_processes.rs
  moqt-server/src/modules/server_processes/fetch_message.rs
  moqt-server/src/modules/server_processes/subscribe_announces_message.rs
  moqt-server/src/modules/stream_header_handler.rs
  scripts/start-localhost-test-chrome.sh
Due: moqt-core, moqt-server

fix: default object data type
  js/index.html
Due: none

enable rust-analyzer inlayHints
  .vscode/settings.json
Due: none

Make code and comment more clear
  moqt-core/src/modules/messages/control_messages/announce.rs
  moqt-core/src/modules/messages/control_messages/announce_error.rs
  moqt-core/src/modules/messages/control_messages/announce_ok.rs
  moqt-core/src/modules/messages/control_messages/client_setup.rs
  moqt-core/src/modules/messages/control_messages/server_setup.rs
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/messages/control_messages/unannounce.rs
  moqt-core/src/modules/messages/control_messages/unsubscribe.rs
  moqt-core/src/modules/messages/data_streams.rs
  moqt-core/src/modules/messages/moqt_payload.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/announce_ok_handler.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/send_stream_dispatcher.rs
Due: moqt-core, moqt-server

wtransport update
  Cargo.lock
  moqt-core/src/modules/messages/control_messages/client_setup.rs
  moqt-core/src/modules/messages/control_messages/server_setup.rs
  moqt-server/Cargo.toml
  moqt-server/src/lib.rs
  moqt-server/src/modules/control_message_handler.rs
Due: moqt-core, moqt-server

extract a forward function
  moqt-core/src/modules/pubsub_relation_manager_repository.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/pubsub_relation_manager/wrapper.rs
Due: moqt-core, moqt-server

distinguish between send and forward
  moqt-core/src/modules/send_stream_dispatcher_repository.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/send_stream_dispatcher.rs
Due: moqt-core, moqt-server

sort processing order
  moqt-server/src/lib.rs
Due: moqt-server

extract logging function
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/logging.rs
Due: moqt-server

move moqt_client from core to server
  moqt-core/src/lib.rs
  moqt-core/src/modules.rs
  moqt-server/src/lib.rs
  moqt-server/src/modules.rs
  moqt-server/src/modules/control_message_handler.rs
  moqt-server/src/modules/handlers/announce_handler.rs
  moqt-server/src/modules/handlers/announce_ok_handler.rs
  moqt-server/src/modules/handlers/server_setup_handler.rs
  moqt-server/src/modules/handlers/stream_subgroup_header_handler.rs
  moqt-server/src/modules/handlers/stream_track_header_handler.rs
  moqt-server/src/modules/handlers/subscribe_error_handler.rs
  moqt-server/src/modules/handlers/subscribe_handler.rs
  moqt-server/src/modules/handlers/subscribe_namespace_handler.rs
  moqt-server/src/modules/handlers/subscribe_ok_handler.rs
  moqt-server/src/modules/handlers/unannounce_handler.rs
  moqt-server/src/modules/handlers/unsubscribe_handler.rs
  moqt-server/src/modules/moqt_client.rs
  moqt-server/src/modules/object_stream_handler.rs
  moqt-server/src/modules/server_processes/announce_message.rs
  moqt-server/src/modules/server_processes/announce_ok_message.rs
  moqt-server/src/modules/server_processes/client_setup_message.rs
  moqt-server/src/modules/server_processes/stream_track_header.rs
  moqt-server/src/modules/server_processes/stream_track_subgroup.rs
  moqt-server/src/modules/server_processes/subscribe_error_message.rs
  moqt-server/src/modules/server_processes/subscribe_message.rs
  moqt-server/src/modules/server_processes/subscribe_namespace_message.rs
  moqt-server/src/modules/server_processes/subscribe_ok_message.rs
  moqt-server/src/modules/stream_header_handler.rs
Due: moqt-core, moqt-server

change method name more clear
  moqt-server/src/lib.rs
Due: moqt-server

delete using absolute import
  moqt-server/src/lib.rs
Due: moqt-server

make group import
  moqt-server/src/modules/control_message_handler.rs
Due: moqt-server

format indent
  moqt-server/src/modules/logging.rs
Due: moqt-server

delete use super import
  moqt-core/src/modules/messages/control_messages/announce.rs
  moqt-core/src/modules/messages/control_messages/announce_error.rs
  moqt-core/src/modules/messages/control_messages/announce_ok.rs
  moqt-core/src/modules/messages/control_messages/client_setup.rs
  moqt-core/src/modules/messages/control_messages/server_setup.rs
  moqt-core/src/modules/messages/control_messages/setup_parameters.rs
  moqt-core/src/modules/messages/control_messages/subscribe.rs
  moqt-core/src/modules/messages/control_messages/subscribe_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_error.rs
  moqt-core/src/modules/messages/control_messages/subscribe_namespace_ok.rs
  moqt-core/src/modules/messages/control_messages/subscribe_ok.rs
  moqt-core/src/modules/messages/control_messages/unannounce.rs
  moqt-core/src/modules/messages/control_messages/unsubscribe.rs
  moqt-core/src/modules/messages/control_messages/version_specific_parameters.rs
  moqt-core/src/modules/messages/data_streams/object_datagram.rs
  moqt-core/src/modules/messages/data_streams/object_stream_subgroup.rs
  moqt-core/src/modules/messages/data_streams/object_stream_track.rs
  moqt-core/src/modules/messages/data_streams/stream_header_subgroup.rs
  moqt-core/src/modules/messages/data_streams/stream_header_track.rs
  moqt-core/src/modules/models/subscriptions.rs
  moqt-core/src/modules/models/subscriptions/nodes/consumers.rs
  moqt-core/src/modules/models/subscriptions/nodes/producers.rs
  moqt-core/src/modules/models/tracks.rs
  moqt-core/src/modules/variable_integer.rs
  moqt-server/src/modules/object_cache_storage.rs
  moqt-server/src/modules/pubsub_relation_manager/manager.rs
Due: moqt-core, moqt-server

Path conditions:
  moqt-core: any of: moqt-core/
  moqt-server: any of: moqt-server/
